body {
    background-color: rgb(0, 0, 0);
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation .fa {
    font-size: 20px;
    padding-right: 10px;
}

.sidebar :hover{
    color: #fff;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
}


.sidebar_navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img{
    width: 80px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.biblioteca {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    flex-direction: column;
}

.biblioteca_head {
    display: flex;
    justify-content: space-between;
}

.botao_biblioteca {
    background-color: transparent;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    margin-right: 10px;
}

.biblioteca .fa-book {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.biblioteca .fa-plus {
    font-size: 14px;
    padding: 24px 10px;
    color: #b3b3b3;
}

.biblioteca .fa-plus:hover {
    cursor: pointer;
    color: #fff;
}

.section-playlist {
    background-color: #242424;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 8px 0;
    padding: 16px 20px;
}

.section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .title{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 0 0 14px;
}

.section-playlist__content .text{
    font-size: 12.8px;
    font-weight: 500;
    color: #fff;
    padding: 0 0 14px;
}

.section-playlist__content .playlist__button {
    padding: 10px;
    border-radius: 40px;
    font-weight: 650;
    font-size: 12.8px;
    width: 113px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin-top: 12px;
    background-color: #fff;

}

.section-playlist__content .playlist__button:hover {
    transform: scale(1.09);
    color: #121212;
}

.sidebar .cookies {
    margin: 26px 0;
}

.sidebar .cookies:hover {
    text-decoration: underline;
}

.cookies a{
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 500;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.sidebar .idioma_botao {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    padding: 8px;
    width: 170px;
    margin: 6px 0 8px 8px;
    font-weight: bold;
}

.sidebar .idioma_botao:hover {
    border: 1px solid #fff;
    transform: scale(1.06);
}

.premium {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    color: #878787;
    background: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    padding: 15px 40px;
    justify-content: space-between;
}

.premium .premium__text {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.premium .premium__text .premium__title {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 400;
}

.premium .premium__text .premium__subtitle {
    font-size: 14px;
    font-weight: 500;
}

.premium__button {
    padding: 14px 30px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
}